<header class="bg-black py-4 shadow-md">
  <div class="flex flex-col justify-between items-center md:flex-row container mx-auto px-4">
    <div>
      <h1 class="text-white text-3xl font-semibold md:mr-10 cursor-pointer">
        <a href="/">Airbnb</a>
      </h1>
    </div>
    <div class="flex justify-center items-center">
      <a
        href="/"
        class="px-6 py-1 hover:bg-gray-800 text-white transition-colors duration-200"
      >
        Home
      </a>
      <a
        href="/host"
        class="px-6 py-1 hover:bg-gray-800 text-white transition-colors duration-200"
        >Host</a
      >
      <a
        href="/user"
        class="px-6 py-1 hover:bg-gray-800 text-white transition-colors duration-200"
        >User</a
      >
    </div>
  </div>
</header>
